<h1 align-text="center">LOGIN</h1>

<form [formGroup]="loginForm" (ngSubmit)="login(email.value, password.value, confirm_password.value)">
    <div class="form-group">
        <div>
        	<label>Email address</label>
        </div>
        <input #email name='email' 
        		type="email"
        		formControlName="email"
        		[ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors">
            <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
    </div>

   <div class="form-group">
        <div>
        	<label for="password">Password</label>
        </div>
        <input #password name="password" 
            	type="password" 
            	formControlName="password"
            	[ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors">
            <div *ngIf="f.password.errors.required">Password is required.</div>
        </div>
    </div>

    <div class="form-group">
    	<div>
        	<label for="confirm_password">Confirm Password</label>
        </div>
        <input #confirm_password name="confirm_password" 
            	type="password" 
            	formControlName="confirm_password"
            	[ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }">
        <div *ngIf="submitted &&f.confirm_password.errors">
            <div *ngIf="f.confirm_password.errors.required">Confirm Password is required.</div>
            <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>

